*.DS_Store
*.class
bin/
gen/
src/edu/mit/mitmobile/about/BuildSettings.java
src/edu/mit/mitmobile/about/Config.java
local.properties
res/values/build_settings_resource.xml
res/raw/*.mp4
build-deployment/build_settings.py
