<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.mit.mitmobile2"
      android:versionCode="@integer/versionNumber"
      android:versionName="@string/versionName">
    <application android:label="@string/app_name" 
    			 android:name=".Global"
                 android:icon="@drawable/mit_mobile_icon" 
                 android:debuggable="true" 
                 android:theme="@style/Main">
    
        <activity android:name=".MITNewsWidgetActivity"
        		  android:screenOrientation="portrait"
       			  android:alwaysRetainTaskState="true"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	
		<activity android:name="com.google.zxing.client.android.CaptureActivity"
			android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="com.google.zxing.client.android.SCAN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	 		
			
		<receiver android:name=".alerts.BootReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
	        
	    <activity android:name=".tour.TourCameraActivity"/>
	    <activity android:name=".mit150.MainMIT150Activity" android:screenOrientation="portrait"/>
	    <activity android:name=".mit150.MIT150WelcomeActivity" android:screenOrientation="portrait" />
	    <activity android:name=".mit150.MIT150VideoActivity" android:screenOrientation="landscape" />
	    <activity android:name=".mit150.CorridorListActivity" />
	    <activity android:name=".mit150.CorridorStorySliderActivity"  android:theme="@style/PlainBackground" />

	        
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".maps.MITMapActivity" android:launchMode="singleTop"  android:process="map.test"
        		android:screenOrientation="portrait">
        	<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/maps_searchable" />
		</activity>
        <activity android:name=".maps.MITMapBrowseCatsActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".maps.MITMapActivity" />
        </activity>
        <activity android:name=".maps.MITMapBrowseSubCatsActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".maps.MITMapActivity" />
        </activity>
        <activity android:name=".maps.MITMapBrowseResultsActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".maps.MITMapActivity" />
        </activity>
        <activity android:name=".maps.MITMapDetailsSliderActivity" android:theme="@style/PlainBackground" android:screenOrientation="portrait">
        	<meta-data android:name="android.app.default_searchable" android:value=".maps.MITMapActivity" />
        </activity>
		<provider android:name=".maps.MapsSearchSuggestionsProvider" android:authorities="edu.mit.mitmobile2.maps.SuggestionsProvider" />
        
        <activity android:name=".events.EventsTopActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
        <activity android:name=".events.EventsSearchActivity" 
				  android:launchMode="singleTop"
				  android:windowSoftInputMode="stateAlwaysHidden"
				  android:theme="@style/PlainBackground">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>			
			<meta-data android:name="android.app.searchable" android:resource="@xml/events_searchable" />
		</activity>
        <activity android:name=".events.MITEventsDaysSliderActivity" android:theme="@style/PlainBackground" android:configChanges="orientation">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
        <activity android:name=".events.MITAcademicCalendarSliderActivity" android:theme="@style/PlainBackground" android:configChanges="orientation">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
        <activity android:name=".events.MITHolidaysCalendarActivity" android:theme="@style/PlainBackground">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
        <activity android:name=".events.EventsCategoryActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
        <activity android:name=".events.EventsSimpleCategoryActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
        <activity android:name=".events.MITEventsSliderActivity" android:configChanges="orientation">
        	<meta-data android:name="android.app.default_searchable" android:value=".events.EventsSearchActivity" />
        </activity>
		<provider android:name=".events.EventsSearchSuggestionsProvider" android:authorities="edu.mit.mitmobile2.events.SuggestionsProvider" />


        <activity android:name=".shuttles.ShuttlesActivity" 
        		android:label="Shuttles"
        		android:taskAffinity="edu.mit.mitmobile2.shuttles"/>
        <activity android:name=".shuttles.MITStopsSliderActivity" android:configChanges="orientation"/>
        <activity android:name=".shuttles.MITRoutesSliderActivity" android:configChanges="orientation"/>
		
		<activity android:name=".classes.CoursesTopActivity" android:process=":courses">
        		<meta-data android:name="android.app.default_searchable" android:value=".classes.CoursesSearchActivity"/>
        </activity>
		<activity android:name=".classes.CoursesSearchActivity"
			android:process=":courses"
			android:launchMode="singleTop"
			android:windowSoftInputMode="stateAlwaysHidden"
			android:theme="@style/PlainBackground">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>			
			<meta-data android:name="android.app.searchable" android:resource="@xml/courses_searchable" />
		</activity>
		<provider android:name=".classes.CourseSearchSuggestionsProvider" android:authorities="edu.mit.mitmobile2.classes.SuggestionsProvider" />
        <activity android:name=".classes.MITCoursesListsSliderActivity" android:configChanges="orientation" android:process=":courses">
        	<meta-data android:name="android.app.default_searchable" android:value=".classes.CoursesSearchActivity"/>
        </activity>
        <activity android:name=".classes.MITCoursesDetailsSliderActivity" android:theme="@style/PlainBackground" android:screenOrientation="portrait" android:process=":courses">
        	<meta-data android:name="android.app.default_searchable" android:value=".classes.CoursesSearchActivity"/>
        </activity>
        <activity android:name=".classes.MITCoursesAnnouncementsSliderActivity" android:configChanges="orientation" android:process=":courses">
        	<meta-data android:name="android.app.default_searchable" android:value=".classes.CoursesSearchActivity"/>
        </activity>
        <activity android:name=".classes.MITCoursesSubjectsSliderActivity" android:configChanges="orientation" android:process=":courses">
        	<meta-data android:name="android.app.default_searchable" android:value=".classes.CoursesSearchActivity"/>
        </activity>
        
		
		<activity android:name=".people.PeopleActivity">
			<meta-data android:name="android.app.default_searchable" android:value=".people.PeopleSearchActivity" />
		</activity>
		<activity android:name=".people.PeopleSearchActivity" 
				  android:launchMode="singleTop"
				  android:windowSoftInputMode="stateAlwaysHidden"
				  android:theme="@style/PlainBackground">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>			
			<meta-data android:name="android.app.searchable" android:resource="@xml/people_searchable" />
		</activity>
		<provider android:name=".people.PeopleSearchSuggestionsProvider" android:authorities="edu.mit.mitmobile2.people.SuggestionsProvider" />
		<activity android:name=".people.PeopleDetailActivity" android:configChanges="orientation">
			<meta-data android:name="android.app.default_searchable" android:value=".people.PeopleSearchActivity" />
		</activity>

		<activity android:name=".news.NewsListSliderActivity" android:theme="@style/PlainBackground" android:configChanges="orientation">
			<meta-data android:name="android.app.default_searchable" android:value=".news.NewsSearchActivity" />
		</activity>
		<activity android:name=".news.NewsSearchActivity" 
				android:launchMode="singleTop"
				android:windowSoftInputMode="stateAlwaysHidden"
				android:theme="@style/PlainBackground">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/news_searchable" />
		</activity>
		<provider android:name=".news.NewsSearchSuggestionsProvider" android:authorities="edu.mit.mitmobile2.news.SuggestionsProvider" />
		<activity android:name=".news.NewsBookmarksActivity" android:theme="@style/PlainBackground">
			<meta-data android:name="android.app.default_searchable" android:value=".news.NewsSearchActivity" />
		</activity>
		<activity android:name=".news.NewsDetailsActivity" android:theme="@style/PlainBackground" android:configChanges="orientation">
			<meta-data android:name="android.app.default_searchable" android:value=".news.NewsSearchActivity" />
		</activity>	
		<activity android:name=".news.NewsImageActivity" android:theme="@style/PlainBackground">
			<meta-data android:name="android.app.default_searchable" android:value=".news.NewsSearchActivity" />
		</activity>
		
		<activity android:name=".emergency.EmergencyActivity" android:theme="@style/PlainBackground" />
		<activity android:name=".emergency.EmergencyContactsActivity" android:theme="@style/PlainBackground" />

		<activity android:name=".tour.MainTourActivity"  android:screenOrientation="portrait"/>	
		<activity android:name=".tour.TourIntroductionActivity" android:theme="@style/PlainBackground" android:screenOrientation="portrait"/>
		<activity android:name=".tour.MITIntroductionActivity" android:theme="@style/PlainBackground" android:screenOrientation="portrait"/>
		<activity android:name=".tour.TourStopSliderActivity" android:theme="@style/PlainBackground" android:screenOrientation="portrait"/>
		<activity android:name=".tour.TourSideTripActivity" android:screenOrientation="portrait"/>
		<activity android:name=".tour.TourMapActivity" android:process=":tourmap" android:screenOrientation="portrait"/>
		<activity android:name=".tour.TourStartHelpActivity" android:screenOrientation="portrait"/>
		
		<activity android:name=".qrreader.QRReaderMainActivity" android:process=":qrreader"/>
		<activity android:name=".qrreader.QRReaderDetailActivity" android:screenOrientation="portrait" android:process=":qrreader" />
		
		<activity android:name=".SettingsActivity" android:theme="@android:style/Theme.Light" />

		<!-- FACILITIES -->
		<activity android:name=".facilities.FacilitiesActivity" />
		<activity android:name=".facilities.FacilitiesInfoActivity" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesProblemTypeActivity" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesProblemLocationActivity" android:windowSoftInputMode="stateHidden" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesLocationsForCategoryActivity" android:windowSoftInputMode="stateHidden" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesRoomLocationsActivity" android:windowSoftInputMode="stateHidden" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesInsideOutsideActivity" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesDetailsActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
		<activity android:name=".facilities.FacilitiesUseMyLocationActivity" android:theme="@style/PlainBackground" />
		<activity android:name=".facilities.FacilitiesLeasedBuildingActivity" />
		<activity android:name=".facilities.FacilitiesUploadSuccessModuleActivity" />

		<!-- SETTINGS -->
		<activity android:name=".settings.MITSettingsActivity" />

		<!-- TOUCHSTONE -->
		<activity android:name=".touchstone.TouchstoneActivity" />
		<activity android:name=".touchstone.TouchstonePrefsActivity"></activity>

		<!-- LIBRARIES -->
		<activity android:name=".libraries.LibrariesActivity" />

		<activity android:name=".about.AboutActivity" />
		<activity android:name=".about.AboutMITActivity" />
		<activity android:name=".about.AboutCreditsActivity" />
		
		<receiver android:name=".alerts.NotificationsAlarmReceiver"  class=".NotificationsAlarmReceiver" />
		<!-- 
		<service android:name=".UpdateService"   class=".UpdateService"  />
		<service android:name=".UpdateService"  android:enabled="true"  >
		 	<intent-filter>
                        <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
		<service android:name=".UpdateService"  class="UpdateService" android:enabled="true"  />
		<service android:name=".UpdateService"  android:enabled="true"  />
		<intentservice android:name=".UpdateService"  android:enabled="true"  />
		 -->
		<service android:name=".alerts.NotificationService"  android:enabled="true"  ></service>
			       
			       
	    <provider android:name=".WebImageCacheProvider" android:authorities="edu.mit.mitmobile2.WebImageCacheProvider" />   	          	           
    
		<activity android:name=".PrefsActivity"></activity>
        
        <activity android:name=".libraries.LibraryActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.app.default_searchable" android:value=".libraries.LibrarySearchActivity" />
        </activity>
        
        <activity android:name=".libraries.LibrarySearchActivity" 
                  android:launchMode="singleTop"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/PlainBackground">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>            
            <meta-data android:name="android.app.searchable" android:resource="@xml/library_searchable" />
        </activity>
        <provider android:name=".libraries.LibrarySearchSuggestionsProvider" android:authorities="edu.mit.mitmobile2.libraries.SuggestionsProvider" />
        <activity android:name=".libraries.LibraryLocationAndHour"></activity>
        <activity android:name=".libraries.LibraryDetailActivity"></activity>
        <activity android:name=".libraries.BookDetailActivity">
      		<meta-data android:name="android.app.default_searchable" android:value=".libraries.LibrarySearchActivity" />
        </activity>
        <activity android:name=".libraries.LibraryBLCHoldingsActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".libraries.LibrarySearchActivity" />
        </activity>
        <activity android:name=".libraries.LibrariesHoldingsSliderActivity">
        	<meta-data android:name="android.app.default_searchable" android:value=".libraries.LibrarySearchActivity" />
        </activity>
        
        <activity android:name=".libraries.AskUsActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".libraries.TellUsActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".libraries.AskUsTopActivity"></activity>
        <activity android:name=".libraries.AppointmentActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".libraries.LibraryYourAccount"></activity>
        <activity android:name=".libraries.LibraryLoans"></activity>
        <activity android:name=".libraries.LibraryLoanDetail"></activity>
        <activity android:name=".libraries.LibraryRenewBooks"></activity>
        <activity android:name=".libraries.LibraryRenewDetail"></activity>
        <activity android:name=".libraries.LibraryHolds"></activity>
        <activity android:name=".libraries.LibraryHoldDetail"></activity>
        <activity android:name=".libraries.LibraryFines"></activity>        
        <activity android:name=".libraries.LibraryFineDetail"></activity>
        
</application>

 		
  	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>	
	
	<uses-sdk android:minSdkVersion="7"></uses-sdk>

<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
<uses-permission android:name="android.permission.WRITE_CALENDAR"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 
